<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<link rel="stylesheet" th:href="@{/css/styles.css}" />
	<link rel="stylesheet" th:href="@{/css/editForm.css}" />




	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- DataTables CSS and JS -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
	<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>


	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>


</head>

<body>
	<div th:replace="~{Base :: header}"></div>
	<main id="main">
		<div th:replace="~{Base :: sidebar}"></div>

		<div id="editFormContainer" style="display: none;"></div>

		<div class="container">

			<form id="formPurchaseIngredient" name="formPurchaseIngredient" class="ingredient-form"
				th:action="@{savePurchasedIngredient}" method="post">
				<div class="row">
					<div class="col-sm-4">
						<h4>Insert purchase</h4>

						<div class="form-group">
							<label for="ingredient">Ingredient</label>
							<!-- using controller method to fetch product list -->
							<select class="form-control" id="ingredient" name="ingredient">
								<option value="">Select Type</option>
							</select>
						</div>

						<div class="form-group">
							<label for="dateOfPurchase">Purchase Date</label>
							<input type="date" class="form-control" id="dateOfPurchase" name="dateOfPurchase"
								placeholder="Purchase Date">
						</div>

						<div class="form-group">
							<label for="purchaseQuantity">Purchase Quantity</label>
							<input type="text" class="form-control" id="purchaseQuantity" name="quantity"
								placeholder="Production Quantity">
						</div>
						<div class="form-group">
							<label for="bill">Bill</label>
							<input type="number" class="form-control" id="bill" name="bill" placeholder="Bill">
						</div>
						<div class="form-group">
							<label for="Paid">Paid</label>
							<input type="number" class="form-control" id="Paid" name="paid" placeholder="Paid">
						</div>
						<label for="vendor">Vendor</label>
						<select class="form-control" id="vendor" name="vendor">
							<option value="">Select Type</option>

						</select>

						<div class="form-group">
							<button type="submit" id="insertPurchase" class="btn btn-success">Save</button>
							<button type="reset" class="btn btn-primary">Reset</button>
						</div>


					</div>

					<div class="col-sm-8">
						<h3>Purchase Record</h3>
						<br>
						<table id="PurchasedIngredientsTable" class="table table-hover">
							<thead>
								<tr>
									<th scope="col">Ingredient</th>
									<th scope="col">Date Of Purchase</th>
									<th scope="col">Purchase Quantity</th>
									<th scope="col">Bill</th>
									<th scope="col">Paid Amount</th>
									<th scope="col">vendor</th>
									<th scope="col">Edit</th>
									<th scope="col">Delete</th>
								</tr>
							</thead>
							<tbody id="PurchasedIngredientsTableResult">
								<!-- Table rows will be dynamically added here based on your data -->
							</tbody>
						</table>

					</div>
				</div>
			</form>



		</div>
	</main>
	<div th:replace="~{Base :: footer}"></div>
	<script src="/js/purchaseIngredientAjaxFile.js"></script>
</body>

</html>